
.skill-card {
  @media (min-width: 900px) {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: bold;
  width: 200px;
  height: 100px; 
  }
  
  @media (min-width: 600px) {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: bold;
  width: 200px;
  height: 100px; 
  }
  
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: bold;
  width: 150px;
  height: 50px;
}

